.todo-app {
  max-width: 60rem;
  margin: 10rem auto;
  border: 1px solid $gray-light;
  box-shadow: 0 0 8px $gray;

  &__header {
    padding: .8rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 2.8rem;
    background: $blue;
    color: $white;
  }

  &__input {
    width: 100%;
    padding: .8rem 1.6rem;
    font-family: 'Mallanna', sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: .1rem;
    border: none;
    border-bottom: 1px solid $whitesmoke;

    &::placeholder {
      letter-spacing: .2rem;
      text-transform: uppercase;
    }
  }

  &__item-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    font-size: 1.8rem;
    padding: .8rem 1.6rem;
    display: flex;
    align-items: center;

    span {
      flex: 1;
    }

    .fas {
      margin-right: auto;
      display: inline-block;
      color: $red;
      cursor: pointer;

      &:hover {
        font-size: 2rem;
      }
    }
  }

  &__button {
    width: 100%;
    padding: .8rem;
    font-size: 1.8rem;
    border: none;
    color: $white;
    background-color: $blue;
    cursor: pointer;

    &[disabled] {
      color: darken($gray, 30);
      background-color: $whitesmoke;
    }
  }
}

@media screen and (max-width: $sm) {
  .todo-app {
    margin: 1rem;
  
    &__header {
      font-size: 2rem;
    }
  
    &__input {
      padding: .6rem 1.4rem;
      font-size: 1.5rem;
    }
  
    &__item {
      font-size: 1.6rem;
      padding: .8rem 1.6rem;
  
      .fas {
        &:hover {
          font-size: 1.8rem;
        }
      }
    }
  
    &__button {
      padding: .6rem;
      font-size: 1.6rem;
    }
  }
}